@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


* {
font-family: 'Amatic SC', cursive;
box-sizing: border-box;
}

body{
	background: #CCC;




}

#app-container{
	max-width: 768px;
	margin: 0 auto;
	background: #CCC;
	.todo-nav{
		border: none;
		.todo-tab-active{
				a{
					background: #999;
					border: 2px solid #000;
				}

		}
	}



		.todo-container{

			border: 5px solid #000;
			border-radius: 6px;

			background: #fff;
			.app-header{
				font-weight: 700;
				text-align: center;
				margin: 0 auto;
			}

			.nav-bar{
				font-weight: 700;
				color: #FFF;

				.nav-tab{
					padding: 0;
					background: #1abc9c;
				
				}
				.selected{

					background: #34495e;
				}




			}
			.add-todo{
				border-style: none;
				margin: 4px 43%;
				background: none;
				border-bottom: 2px solid #000;



			}

			.todo-list{
				padding: 0;
				margin: 0 20%;

				.todo-item{
					font-weight: 700;
					border-bottom: 2px solid #000;
					margin: 4px auto;
					list-style: none;

					> *{display: inline-block;}

				}
				.right-col{

					.item-eraser{
						font-size: 2rem;
						text-shadow: 1px 1px rgba(255, 255, 255, .4);
						color: #F39CAC;

					}
				}



			}
		}

	}
