@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";



* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body{
	background: #3498db;


}

#app-container{
	max-width: 768px;
	margin: 0 auto;
	background: #3498db;
	.todo-nav{
		border: none;
		.todo-tab-active{
				a{
					background: #999;
					border: 2px solid #000;
				}


			// background: #999;


		}
	}



		.todo-container{

			border: 2px solid #000;

			background: #999;
			.add-todo{
				margin: 4px 43%;
				background: none;
				border: 2px solid #000;



			}

			.todo-list{
				padding: 0;
				margin: 0 20%;

				.todo-item{
					margin: 4px auto;
					list-style: none;
					background: #555;

					> *{display: inline-block;}



				}
			}

	}






}
